@import "~ng-zorro-antd/ng-zorro-antd.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html {
  font-size: 16px;
  background: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.3125em;
  height: 0.3125em;
}
/* Track */
/* ::-webkit-scrollbar-track {
    background: red;
  } */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
