.myBtn,
a.myBtn {
  @include transition(all, 0.5s, ease);
  @include rounded("md");
  @include text($font-bold, $text-sm, $line-height-sm, $gray-900);
  padding: $s-2 $s-3;
  margin: $s-2;
  border: none;
  background-color: $white;
  &:hover {
    color: $red-600;
  }
  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
  }
}

.myPrimaryBtn,
a.myPrimaryBtn {
  @extend .myBtn;
  font-weight: normal;
  background-color: $red-600;
  color: $white;
  &:hover {
    color: $white;
    background-color: $red-700;
  }
}
