.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10000;
  li.nav-item {
    text-align: center;
    padding: 0 $s-2;
    margin: 0.5rem 0;
    a.header__link {
      padding: 0 !important;
      font-weight: $font-bold;
      margin: 0 $s-2;
      position: relative;
      &::after {
        @include transition(all, 0.5s, ease);
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        left: 50%;
        transform: translate(0, -50%);
        height: 1px;
        background-color: #fb4226;
      }
      &:hover::after {
        left: 0%;
        width: 100%;
      }
    }
  }
  .navbar-brand {
    width: $w-36;
  }
  .header__info {
    margin: 0 auto;
    text-align: center;
    width: $w-36;

    a {
      @include text($font-bold, $text-base, $line-height-base, $gray-900);
      &:hover {
        color: $red-600;
      }
    }
  }
  .header__control {
    text-align: center;
    a {
      margin: 0;
    }
  }
}

@media screen and (min-width: $md) {
  .header {
    li.nav-item {
      padding: 0 $s-2;
      border-right: $s-0-5 solid $gray-200;
      &:last-child {
        border: none;
      }
    }
    .navbar-brand {
      width: $w-24;
    }
    .header__info {
      margin: 0;
      text-align: center;
      width: $w-40;
    }
  }
}
@media screen and (min-width: $lg) {
  .header {
    .navbar-brand {
      width: $w-48;
    }
    .header__info {
      text-align: center;
      width: $w-48;
    }
  }
}
@media screen and (min-width: $xl) {
  .header {
    .navbar-brand {
      width: $w-52;
    }
    .header__info {
      text-align: center;
      width: $w-60;
    }
  }
}

.cdk-overlay-container {
  z-index: 10001;
}
